:root, :root[data-theme='dark']{
    --primary-bg-color: #111;
    --secundary-bg-color: #151515;
    --third-bg-color: #1b1b1b;

    --header-color:#0B0B0B;

    --standard-color:#A914FA;
    --standard-secundary-color:#7405b1;

    --text-color:#fff;

    --arrow-carousel:invert(0);
    
}

:root[data-theme='light']{
    --primary-bg-color: #fff;
    --secundary-bg-color: #F1F1F1;
    --third-bg-color: #d8d8d8;
    
    --header-color:#ECECEC;

    --standard-color:#A914FA;

    --text-color:#000;

    --arrow-carousel:invert(1);
}

::-webkit-scrollbar{
    background-color:var(--secundary-bg-color);
    width:10px;
}

::-webkit-scrollbar-thumb{
    background-color:var(--standard-color);
    border-radius:5px;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: var(--primary-bg-color) !important;
}

header{
    position: fixed;
    z-index:3;
    width:100%;
    height:5vw;
    background-color: var(--header-color);
    display:flex;
    justify-content: space-evenly;
    gap:6vw;
    align-items: center;
    box-shadow: 0px 4px 8px #000;
    transition: 0.5s;
}

p{
    color:var(--text-color);
    font-family:arial;
}

b{
    color:var(--standard-color);
}

.title{
    color:var(--standard-color);
    text-transform: uppercase;
    font-family: arial;
    font-weight: 700;
    font-size:2vw;
    margin-bottom:3vw;
}

.logo{
    width:5.5vw;
}

nav{
    display:flex;
    gap:3vw;
}

nav .nav-text{
    font-family:arial;
    font-size:0.8vw;
    text-transform: uppercase;
    color:var(--standard-color);
}

nav a{
    text-decoration: none;
}

.sectionSelected{
    text-decoration: underline;
}

#toggletheme{
    font-size:1vw;
    cursor:pointer;
}

.bi-brightness-high-fill{
    color:#fff;
}

/* HOME */

.banner{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-video{
    width:100%;
    height:50vw;
    object-fit: cover;
    filter: brightness(70%);
}

.banner-container{
    position: absolute;
    text-align:center;
    width:50%;
    display:flex;
    flex-direction: column;
}

.banner-container h1{
    font-size:3.2vw;
    font-family: arial;
    color:#fff;
    font-weight: 500;
    line-height: 4vw;
    margin-top:10vw;
}

.banner-container h1 span{
    color:var(--standard-color);
    text-transform: uppercase;
    font-family:arial black;
}

.banner-container button{
    font-size:1.1vw;
    font-family: arial;
    color:#fff;
    padding:0.7vw 2vw;
    border-radius: 0.8vw;
    border:none;
    background-image: linear-gradient(170deg, #BE45FF, #5d008f);
    margin-top: 2vw;
    width:20vw;
    margin-left:auto;
    margin-right:auto;
}

.banner-container i{
    animation: positionLoop 5s infinite ease-in-out;
    font-size:2vw;
    color:#fff;
    margin-top:10vw;
}

@keyframes positionLoop{
    0%{
        transform: translateY(0vw);
    }

    50%{
        transform: translateY(2vw);
    }

    100%{
        transform: translateY(0vw);
    }
}

/* SOBRE */

#sobre{
    display:flex;
    flex-direction: column;
    gap:5vw;
    position:relative;
    z-index:2;
}

.sobre-container1{
    display:flex;
    align-items:center;
    gap:10vw;
    justify-content: center;
    padding:6vw 10vw 0 10vw;
}

.sobre-img{
    width:15vw;
}

.sobre-text{
    width:40vw;
    display:flex;
    flex-direction: column;
    gap:0.5vw;
}
.sobre-text p{
    line-height: 2vw;
    font-size:1.2vw;
}
.sobre-text h2{
    font-weight: 900;
    font-size:2.5vw;
    color:var(--text-color);
}

.sobre-container2{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:7vw;
    background-color:#67009f23;
    padding-bottom:2vw;
}

.sobre-container2 .column{
    width:15vw;
    display:flex;
    flex-direction: column;
    gap:0.5vw;
    margin-top:10vw;
}

.sobre-container2 .column-larg{
    width:18vw;
    display:flex;
    flex-direction: column;
    gap:0.5vw;
}

.sobre-container2 h2{
    background-image: linear-gradient(#BE45FF, #5d008f);
    background-clip: text; /* clipar a cor de fundo no texto */
    -webkit-text-fill-color: transparent; /* apagar o texto, deixando apenas o fundo atrás dele */
    font-family:arial;
    font-weight:700;
    font-size:3vw;
}

.sobre-container2 .column-larg h2{
    font-size:6vw;
}

.sobre-container2 h3{
    color:var(--text-color);
    font-family:arial;
    font-weight:700;
    font-size:1.4vw;
    text-transform: uppercase;
}

.sobre-container2 .column-larg h3{
    font-size:1.6vw;
}

.sobre-container2 p{
    font-size:0.9vw;
}

.sobre-container2 .column-larg p{
    font-size:1.1vw;
}

/* SERVICOS */
#servicos{
    margin-top:8vw;
    padding:0vw 18vw;
    position:relative;
    z-index:2;
}

.servicos-bar{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:1vw;
}

.servicos-bar .bar{
    width:100%;
    height:3vw;
    background-color:var(--header-color);
    border-top-left-radius: 0.5vw;
    display:flex;
    align-items:center;
}

.servicos-bar .bar::before{
    content:"";
    width:0.5vw;
    height:100%;
    border-top-left-radius: 1vw;
    background-color: #67009F;
}

.joint-bar{
    width:100%;
}

.bar .bar-text{
    width:90%;
    font-family:arial;
    font-size:1.3vw;
    color:var(--text-color);
    padding-left:1vw;
    font-weight: 600;
}

.bar-open{
    width:100%;
    height:10vw;
    background-color:var(--third-bg-color);
}

.bar-open::before{
    content:"";
    width:0.5vw;
    height:100%;
    background-color: #67009F;
}

.bar-open .bar-text{
    transition: 0.5s;
    width:90%;
    font-family:arial;
    font-size:1vw;
    color:var(--text-color);
    padding-left:2vw;
    padding-top:1vw;
    text-indent:2vw;
}

.bar-open .bar-text a{
    color:var(--standard-color);
    font-family:arial;
    font-weight: 300;
    font-size:1vw;
}

.bar-seta{
    color:#67009F;
    font-size:1.3vw;
    margin-left:2vw;
    cursor:pointer;
}

.open{
    display:flex;
}
.open .bar-text{
    display:block;
}

.close{
    display:none;
}
.close .bar-text{
    display:none;
}

/* PROJETOS */

#carousel-projects{
    height:33vw;
}

#carousel-projects .carousel-item{
    height:30vw;
}

#carousel-projects .carousel-indicators{
    top:32vw;
}

.carousel-indicators button{
    width:0.7vw !important;
    height:0.7vw !important;
    border-radius: 2vw;
    border:none !important;
}

#projetos{
    margin-top:8vw;
    padding:3vw 18vw;
    position:relative;
    z-index:2;
    background-color:#67009f23;
}

.projetos-row{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:4vw;
}

.projetos-container{
    width:20vw;
    display:flex;
    justify-content:center;
    flex-direction: column;
    box-shadow: 2px 2px 10px 2px #000;
    background-image: linear-gradient(var(--secundary-bg-color) 60%, var(--third-bg-color));
    border-radius:1vw;
}

.projetos-img{
    width:100%;
    height:12.5vw;
    object-fit: fill;
    border-radius:1vw 1vw 0vw 0vw;
    border-bottom: 0.2vw solid var(--standard-secundary-color);
}

.projetos-description{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:0.5vw;
    align-items:center;
    padding:2vw 1vw 1vw 1vw;
}

.projetos-description h3{
    color:var(--text-color);
    font-family: arial;
    font-weight: 700;
    font-size:1.3vw;
    text-transform: uppercase;
}

.projetos-description p{
    font-size:1vw;
    text-align:center;
    padding:0vw 0.5vw;
}

.projetos-description button{
    font-size:1vw;
    font-family:arial;
    color:#fff;
    background-color:var(--standard-color);
    border-radius:2vw;
    border:none;
    padding:0.4vw;
    width:100%;
}
.projetos-description button:hover{
    background-color:var(--standard-secundary-color);
}

.carousel-control-next, .carousel-control-prev, .carousel-indicators{
    opacity: 1;
    filter: var(--arrow-carousel);
}

/* CONTATO */

#contato{
    margin-top:8vw;
    padding:0vw 18vw;
    position:relative;
    z-index:2;
}

#contato .title{
    margin-bottom:1vw;
}

#contato p{
    margin-bottom:3vw;
    font-size:1vw;
}


.contato-container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:10vw;
}

.contato-img{
    width:16vw;
}

#contato .contato-container form{
    width:40vw;
    display:flex;
    flex-direction: column;
    gap:2vw;
}

#contato .contato-container form .form-group label{
    font-family:arial;
    font-size:1vw;
    font-weight:600;
    color:var(--text-color);
}

#contato .contato-container form .form-group input,
#contato .contato-container form .form-group textarea{
    color:var(--text-color);
    font-size:1vw;
    font-family:arial;
    background-color: transparent;
    border-bottom:3px solid var(--standard-color);
    border-top:none;
    border-left:none;
    border-right: none;
    border-radius:0;
}

#contato .contato-container form button{
    width:100%;
    background-color:var(--standard-color);
    color:#fff;
    border:none;
    padding:0.7vw 0;
    font-family:arial;
    font-size:1.1vw;
}
#contato .contato-container form button:hover{
    background-color: var(--standard-secundary-color);
}

/* FOOTER */
footer{
    margin-top:8vw !important;
    width:100%;
    height:10vw;
    background-color: var(--third-bg-color);
    padding:0vw 18vw;
    position:relative;
    z-index:2;
}

footer img{
    width:8vw;
}

footer h3{
    color:var(--text-color);
    font-size:1.3vw;
    font-family:arial;
    font-weight: 700;
}

footer span, footer i{
    color:var(--text-color);
    font-size:1.1vw;
}
footer i:hover{
    color:var(--standard-color);
}

.copyright{
    background-color: var(--secundary-bg-color);
    color:var(--text-color);
    font-size:1vw;
    font-family: arial;
    font-weight:600;
    padding:0.5vw;
    display:flex;
    justify-content: center;
}

/* Elementos fundo */

.elementoFundo1{
    width:60vw;
    opacity:20%;
    position: absolute;
    top:75vw;
    right:55vw;
    z-index:1;
}
.elementoFundo2{
    width:44vw;
    height:55vw;
    object-fit: cover;
    object-position:left;
    opacity:15%;
    position: absolute;
    top:50vw;
    right:0;
    z-index:1;
}
.elementoFundo3{
    rotate:180deg;
    width:30vw;
    height:55vw;
    object-fit: cover;
    object-position:right;
    opacity:20%;
    position: absolute;
    top:115vw;
    right:0;
    z-index:1;
}
.elementoFundo4{
    rotate:180deg;
    width:35vw;
    height:55vw;
    object-fit: cover;
    object-position:left;
    opacity:15%;
    position: absolute;
    top:145vw;
    left:0;
    z-index:1;
}
.elementoFundo5{
    rotate:180deg;
    width:40vw;
    height:55vw;
    object-fit: cover;
    object-position:right;
    opacity:15%;
    position: absolute;
    top:180vw;
    right:0;
    z-index:1;
}
.elementoFundo6{
    rotate:180deg;
    width:35vw;
    height:45vw;
    object-fit: cover;
    object-position:left;
    opacity:15%;
    position: absolute;
    top:205vw;
    left:0;
    z-index:1;
}